<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pp.shopping.module.sys.dao.ImgsMapper" >
    <resultMap id="BaseResultMap" type="com.pp.shopping.module.sys.model.Imgs" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="url" property="url" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />
        <result column="update_time" property="updateTime" jdbcType="DATE" />
        <result column="creator" property="creator" jdbcType="INTEGER" />
        <result column="updator" property="updator" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,type,status,url,create_time,update_time,creator,updator

    </sql>

    <!-- 查询对应条件的图片信息-->
    <select id="selectByCondition" resultMap="BaseResultMap"  parameterType="imgs">
        select 
        <include refid="Base_Column_List" />
        from t_imgs
        <where>
            <if test="type != null">
                and type = #{type,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </select>
</mapper>