<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pp.shopping.module.sys.dao.ReceiveAddressMapper" >
    <resultMap id="BaseResultMap" type="com.pp.shopping.module.sys.model.ReceiveAddress" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="province" property="province" jdbcType="INTEGER" />
        <result column="city" property="city" jdbcType="INTEGER" />
        <result column="country" property="country" jdbcType="INTEGER" />
        <result column="address_detail" property="addressDetail" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="creator" property="creator" jdbcType="INTEGER" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="updator" property="updator" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, province, city, country, address_detail, user_id, create_time, creator, update_time, 
        updator
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long" >
        select 
        <include refid="Base_Column_List" />
        from t_receive_address
        where id = #{id,jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.pp.shopping.module.sys.model.ReceiveAddress" >
        <selectKey resultType="long" keyProperty="id" order="AFTER" >
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_receive_address (province, city, country, 
            address_detail, user_id, create_time, 
            creator, update_time, updator
            )
        values (#{province,jdbcType=INTEGER}, #{city,jdbcType=INTEGER}, #{country,jdbcType=INTEGER}, 
            #{addressDetail,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
            #{creator,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updator,jdbcType=VARCHAR}
            )
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.pp.shopping.module.sys.model.ReceiveAddress" >
        update t_receive_address
        <set >
            <if test="province != null" >
                province = #{province,jdbcType=INTEGER},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=INTEGER},
            </if>
            <if test="country != null" >
                country = #{country,jdbcType=INTEGER},
            </if>
            <if test="addressDetail != null" >
                address_detail = #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null" >
                creator = #{creator,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null" >
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updator != null" >
                updator = #{updator,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="long" >
        delete from t_receive_address
        where id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>